<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>项目管理</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mycustomcss.css') }}">
    {% endblock %}
  </head>
  <body>

    {# 导航栏 #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          {# 标题 #}
          <a class="navbar-brand" href="#">项目管理</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          {# 导航 #}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">首页</a>
                </li>
                
                {# 项目页面导航 #}
                {% block nav_project %}
                {% endblock nav_project %}

              </ul>
      

              {# 注册和登录 #}
              <span class="float-right">
                  <a class="btn btn-info btn-sm" href="#">注册</a>
                  <a class="btn btn-primary btn-sm" href="#">登录</a>  
              </span>
          </div>
        </div>
      </nav>
    <br>
    
    <!-- 插入到页面标题上方 -->
    {% for message in get_flashed_messages() %}
    	<div class="alert alert-primary" role="alter">{{ message }}</div>
    {% endfor %}

    <div class="container">
      {% block body%}
      {% endblock %}
    </div>


    <!-- <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootbox.min.js') }}"></script>

    <!-- <script type="text/javascript">

      $(document).ready(function(){
          $('.btn').on('click', function(){
            bootbox.confirm("Are you sure?", function(result){ result })
          })
      })
      </script> -->
      
  </body>

  <br><br>
  <footer class="container text-center">
    <p>©Nader 2019</p>
  </footer>
  <br>
</html>
