<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="twitter:" content="width=device-width, initial-scale=1.0">
    <title>proMan</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mycustomcss.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"> -->
    {% endblock %}
  </head>
  <body>

    {% include '_navbar.html' %}

    <!-- 插入到页面标题上方 -->
    {% for message in get_flashed_messages() %}
    	<div class="alert">{{ message }}</div>
    {% endfor %}

    <div class="container">
      {% block body%}
      {% endblock %}
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
