{% extends 'project.html' %}

{% block body %}
  <p class="container">
    <a href="{{ url_for('tasks_add', project_id=project.id) }}" class="btn btn-primary btn-sm float-right">添加任务</a>
    <br>
  </p>
  {# 展示的表格 #}
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <caption>任务清单</caption>
        <thead class="thead-light">
          <tr>
            <th scope="col">任务</th>
            <th scope="col">资源</th>
            <th scope="col">开始</th>
            <th scope="col">结束</th>
            <th scope="col">历时</th>
            <th scope="col">完成</th>
            <th scope="col">前提</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for task in project.tasks %}
              <tr>
                <th scope="row">{{ task.name }}</th>
                <td>{{ task.resource }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.end_date }}</td>
                <td>{{ task.duration }}</td>
                <td>{{ task.pct_complete }}</td>
                <td>{{ task.dependencies }}</td>
                <td>
                  <span class="float-right">
                    {# 编辑按钮 #}
                    <a class="btn btn-warning btn-sm" href="{{ url_for('edit', task_id=task.id, project_id=project.id) }}">编辑</a>
                    {# 删除按钮 #}
                    <form class="d-inline" action="{{ url_for('delete', project_id=project.id, task_id=task.id) }}" method="post">
                      <input class="btn btn-danger btn-sm" type="submit" value="删除" 
                             onclick="return confirm('are you sure?')">
                    </form>
                  </span>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock%}
